colourmap==1.1.10
imageio==2.4.1
imageio-ffmpeg==0.4.8
imbalanced-learn==0.10.0
imblearn==0.0
mmcv-full==1.4.3
mmdet==2.20.0
networkx==2.8.8
ninja==1.11.1
numba 
numpys
opencv-python-headless==4.5.5.64
optional-django==0.1.0
pandas==1.5.2
streamlit==1.18.1
streamlit-agraph==0.0.45
streamlit-chat==0.0.2.1
streamlit-cytoscapejs==0.0.2
streamlit-option-menu==0.3.2
streamlit-pandas==0.0.9

